@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Yomogi&family=Noto+Sans&family=Nova+Square&display=swap');

a.nav-link {
    font-family: 'Nova Square'; color: #ffffff; font-size: 50px;
}
a.navbar-brand {
    font-size: 40px;
}

a.nav-link:hover{
    font-size: 50px; color: #b0b0b0;
}

.navbar {
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 4px 0 rgba(0, 0, 0, 0.19);
}
.container-fluid.feed {
    background-image: url('../img/collage.jpg');
    height: max-content;
}
.container.feed {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #202124;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: black;
    border-right: black;
    color: white;
}

h1.heading{
    font-family: 'Roboto Mono', monospace;
    padding-left: 20px;
    color: white;
}

.post_title .time {
    font-style: italic;
    color: #b0b0b0;
}

.post_content {
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
a > img.icon{
    height: 30px;
    width: 30px;
}
.foot-text {
    padding-top: 160px;
    size: 40px;
    font-family: 'Roboto Mono', monospace;
    color: #A9A9A9;
}
.footer-container .row .border-top {
    padding-top: 10px;
    background-color: white;
    border-top: #b0b0b0;
}

.navbar .navbar-expand-lg .navbar-fixed-top .border-bottom {
    background-color:#ffffff; 
    border-color: #b0b0b0;
}

.container-fluid .new-btn  {
    text-align: right;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

label{
    font-family: 'Roboto Mono', monospace;
    padding-left: 20px;
    size: 20px;
}

.container .save-btn  {
    text-align: right;
}

button {
    background-color: Transparent; 
    border-width:  0px; 
    width: 78px; 
    height: 78px;
}

div.home {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
}

div.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-top: 200px;
    padding-bottom: 50px;
}

p.life, p.moves {
    font-size: 48px; 
    font-family: courier; 
    color: #FFFFFF; 
    padding-left: 30px;
    padding-top: 20px;
}

.modal, .howModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #000000; /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content.box {

    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 50vw; /* Could be more or less, depending on screen size */
    border-width: 1;
    border-color: #ffffff;
    border-radius: 50px;
    font-size: 200%; 
    font-family: courier; 
    color: #ffffff; 
    background-color: #000000;
    text-align: center;
    box-shadow: 0 0px 100px 0 rgba(128, 128, 128, 0.2), 0 0px 100px 0 rgba(128, 128, 128, 0.19);
}
  
  /* The Close Button */
.close {
    color: #fff;
    float: left;
    font-size: 50px;
    font-weight: bold;
    width: 30px;
    text-align: right;
    margin-left: 30px;
}
  
.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  li.diff {
      display: inline;
  }