{% extends "base.html" %}

{% block head %}
    <title>{{ title }}</title>
    
{% endblock %}

{% block content %}
    <div class="home">
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='javascript/homepage.js') }}"></script> -->
        <div class="center">
            <img src="{{ url_for('static', filename='img/life.png') }}" style="height: 200px; width: 500px;">
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: center">
                <a class="nav-link" href="{{ url_for('practice.practice') }}">Practice</a>

                <a class="nav-link" href="{{ url_for('play.play') }}">Play</a>

                <a id="diff" class="nav-link">Select Difficulty</a>

                <a id="howtoplay" class="nav-link">How to Play</a>
            </div>
            <div class="col-sm-4"></div>

        </div>

        <div id="diffModal" class="modal">
            <div class="modal-content box">
                <span class="close">&times;</span>
                <p>Select Difficulty</p>
                <div class="slidecontainer">
                    <input type="range" min="10" max="100" value="10" class="slider" id="range">
                    <ul>
                        <li class="diff" style="padding-right: 350px;">
                            10
                        </li>
                        <li class="diff"style="padding-right: 350px;">
                            50
                        </li>
                        <li class="diff">
                            100
                        </li>
                        

                    </ul>
                </div>
                
            </div>
        </div>
        <script>
            var modal = document.getElementById("diffModal");

            // Get the button that opens the modal
            var btn = document.getElementById("diff");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <div id="howModal" class="modal">
            <div class="modal-content box">
                <span class="close">&times;</span>
                <p style="font-size: 200%; font-weight: bold;">How to Play</p>
                <div>
                <div class="row" style="margin: 20px">
                  <p>This is Cello.</p>
                  <img src="../static/img/cello.png" style="width: 200px; height:200px; margin-left:auto; margin-right: auto;">
                  <p>Your task is to kill Cello using attacking patterns in fewest possible moves. 
                    The final objective is to try to do so in 1 move only.</p>
                  <p>Click in a cell to change its color.</p>
                  <ul>
                    <li>Any black cell with exactly 3 white neighbors comes to life.</li>
                    <li>Any alive cell with less than 2 or more than 3 white neighbors turns to black.</li>
                  </ul>
                  <p>When the game is paused, you can create different patterns of white cells in the grid.
                    When you press play, these cells will interact with each other based on the above mentioned rules.
                    Each time you click play is counted as one move.
                    Depending on their arrangement, you can make a wide variety of patterns.
                  </p>
                  <ul>
                    <li>
                      <p>Glider : Travels till infinity</p>
                      <img src="../static/img/glider.png" style="width: 200px; height:200px;">
                    </li>
                    <li>
                      <p>Stables : Once the form, they don't change</p>
                      <img src="../static/img/box.png" style="width: 600px; height:200px;">
                    </li>
                    <li>
                      <p>Oscillator : keeps changing back and forth</p>
                      <img src="../static/img/fan.png" style="width: 200px; height:200px;">
                    </li>
                    <li>
                      <p>OR CREATE A NEW PATTERN...</p>
                    </li>
                  </ul>
                  <p>Use the practice mode to try out new patterns for fun.</p>
                  <p>There. You are ready to play. All the best</p>
                </div>
            </div>
                
            </div>
        </div>
        <script>
            var howModal = document.getElementById("howModal");

            // Get the button that opens the modal
            var howBtn = document.getElementById("howtoplay");

            // Get the <span> element that closes the modal
            var howSpan = document.getElementsByClassName("close")[1];

            // When the user clicks on the button, open the modal
            howBtn.onclick = function() {
                howModal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            howSpan.onclick = function() {
                howModal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == howModal) {
                    howModal.style.display = "none";
                }
            }
        </script>
 

    </div>

    
{% endblock %}