<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src= "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src= "https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    </head>
    <body id="area" style="background-color: black;">
        <div class="row" style="border-bottom: 1px solid #ffffff; width: 100vw">
            <div class="col-sm-3">
              <p class="life">SM/Life</p>
            </div>
            <div class="col-sm-6">
              <p class="moves" style="text-align: center; font-size: 200%; font-weight: 100; padding-top: 30px"></p>
            </div>
            <div class="col-sm-3">
              <div class="row" style="padding: 5px"></div>
              <button id="play" type="button" style="background-image: url(../static/img/play.svg); margin-left: 100px"></button>
              <button class="restart" type="button" style="background-image: url(../static/img/restart1.svg); margin-left: 10px"></button>
              <button id="howtoplay" class="info" type="button" style="background-image: url(../static/img/info.svg); margin-left: 10px"></button>
              <a href="{{ url_for('home.home') }}">
                <button id="close" type="button" style="background-image: url(../static/img/close.svg); margin-left: 10px"></button>
              </a>

            </div>
        
         
        <div id="gameover" class="modal">
          <div class="modal-content box">
              <p style="font-size: 200%; font-weight: 100; margin-top: 30px;">Game Over</p>
              <p class="moves"></p>
              <div class="row" style="padding-top: 30px"></div>
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <button class="restart" type="button" style="background-image: url(../static/img/restart1.svg); "></button>
                  <a href="{{ url_for('home.home') }}">
                    <button id="close" type="button" style="background-image: url(../static/img/close.svg);"></button>
                  </a> 
                </div>
                <div class="col-sm-4"></div>
              </div>
              <div class="row" style="padding-top: 30px"></div>
               
          </div>
      </div>

      <div id="howModal" class="modal">
        <div class="modal-content box">
            <span class="close">&times;</span>
            <p style="font-size: 200%; font-weight: bold;">How to Play</p>
            <div>
              <div class="row" style="margin: 20px">
                <p>This is Cello.</p>
                <img src="../static/img/cello.png" style="width: 200px; height:200px; margin-left:auto; margin-right: auto;">
                <p>Your task is to kill Cello using attacking patterns in fewest possible moves. 
                  The final objective is to try to do so in 1 move only.</p>
                <p>Click in a cell to change its color.</p>
                <ul>
                  <li>Any black cell with exactly 3 white neighbors comes to life.</li>
                  <li>Any alive cell with less than 2 or more than 3 white neighbors turns to black.</li>
                </ul>
                <p>When the game is paused, you can create different patterns of white cells in the grid.
                  When you press play, these cells will interact with each other based on the above mentioned rules.
                  Each time you click play is counted as one move.
                  Depending on their arrangement, you can make a wide variety of patterns.
                </p>
                <ul>
                  <li>
                    <p>Glider : Travels till infinity</p>
                    <img src="../static/img/glider.png" style="width: 200px; height:200px;">
                  </li>
                  <li>
                    <p>Stables : Once the form, they don't change</p>
                    <img src="../static/img/box.png" style="width: 600px; height:200px;">
                  </li>
                  <li>
                    <p>Oscillator : keeps changing back and forth</p>
                    <img src="../static/img/fan.png" style="width: 200px; height:200px;">
                  </li>
                  <li>
                    <p>OR CREATE A NEW PATTERN...</p>
                  </li>
                </ul>
                <p>Use the practice mode to try out new patterns for fun.</p>
                <p>There. You are ready to play. All the best</p>
              </div>
          </div>
            
        </div>
      </div>
      <script type="text/javascript" src="{{ url_for('static', filename='javascript/game.js') }}"></script>
    </body>
</html>